<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    <title>Agendar Cita</title>
</head>
<body>
    <%- include('./includes/menu.ejs') %>
    <div class="column is-4 is-offset-4 my-6">
        <div class="box px-5 py-6">
            <div class="title has-text-centered">
                Agendar Cita
            </div>
            <form action="/user/cliente/agendar_cita" method="POST">
                <!-- <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" name="nombre" placeholder="Nombre(s)" autocomplete="off">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>  
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" name="apellido" placeholder="Apellido(s)">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>  
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" name="telefono" placeholder="Teléfono" autocomplete="off">
                        <span class="icon is-small is-left">
                            <i class="fas fa-phone"></i>
                        </span>  
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" name="correo" placeholder="Correo">
                        <span class="icon is-small is-left">
                            <i class="fas fa-at"></i>
                        </span>  
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" onfocus="(this.type = 'date')" onblur="(this.type = 'text')" name="fecha_nacimiento" placeholder="Fecha de Nacimiento">
                        <span class="icon is-small is-left">
                            <i class="fas fa-calendar"></i>
                        </span>  
                    </p>
                </div> -->
                <% if(self) { %>
                    <div class="columns is-vcentered">
                        <div class="column">
                            <div class="info-usuario my-2">
                                <strong><%= user.nombre %> <%= user.apellido %>
                                <br>
                                <%= user.telefono %>
                                <br>
                                <%= user.correo %>
                                <br>
                                <%= user.fecha_nacimiento %>
                                </strong>
                            </div>
                        </div>
                        <div class="column">
                            <button class="tag is-danger is-light">Quiero agendar para alguien más</button>
                        </div>

                    </div>
                <% } %>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" onfocus="(this.type = 'datetime-local')" onblur="(this.type = 'text')" name="fecha_cita" placeholder="Fecha y Hora">
                        <span class="icon is-small is-left">
                            <i class="fas fa-calendar"></i>
                        </span>  
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" name="notas" placeholder="Notas">
                        <span class="icon is-small is-left">
                            <i class="fas fa-at"></i>
                        </span>  
                    </p>
                </div>
                <div class="field">
                    <input class="button is-danger-dark is-medium is-fullwidth" type="submit" value="Guardar">
                </div>
            </form>
        </div>
    </div>
</body>
</html>