<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Contrato</title>
    <link rel="stylesheet" href="/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
</head>
<body>
    <%- include('includes/menu') %>
    <div class="mx-5 mt-5">
        <h1 class="title is-1">Agregar Contrato</h1>

        <form action="/user/empleado/crear-contrato" method="POST">

            <%- include('includes/info_cliente') %>
            <%- include('includes/info_armazones') %>
            <%- include('includes/info_graduaciones') %>
            <br>
            <textarea class="textarea" name="observaciones" value="<%= formData?.observaciones %>" placeholder="Observaciones"></textarea>
            <br>
            <input type="submit" class="button is-danger is-outlined" autocomplete="off" value="Guardar">
        </form>

        
        <br>

    </div>

    <script src="/scripts/crear_contrato.js"></script>
</body>