<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Contrato</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-social@2/css/all.min.css">
</head>
<body>
    <%- include('includes/menu') %>
    <div class="mx-5 mt-5">
        <h1 class="title is-1">Agregar Contrato</h1>

        <form action="/user/empleado/crear-contrato" method="POST">

            <div class="field is-horizontal">
                
                <div class="field-body">
                    <div class="field">
                        <div class="columns">
                            <div class="column">

                                <p class="control has-icons-left">
                                    <input class="input" type="text" name="IDContrato" autocomplete="off" placeholder="Número de Contrato">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-hashtag"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="column is-four-fifths">
                                <p class="control has-icons-left">
                                    <input class="input" type="date" name="fecha_venta" autocomplete="off" placeholder="Fecha de Contrato">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-calendar"></i>
                                    </span>
                                    <p class="help">Fecha de Contrato</p>
                                </p>
                                <p></p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" type="text" name="nombre" autocomplete="off" placeholder="Nombre">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" type="text" name="apellido" autocomplete="off" placeholder="Apellido">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="field has-addons">
                            <p class="control is-expanded has-icons-left">
                                <input class="input" type="tel" name="telefono" autocomplete="off" placeholder="Número Telefónico">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-phone"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" type="date" autocomplete="off" name="fecha_entrega">
                            <span class="icon is-small is-left">
                                <i class="fas fa-calendar"></i>
                            </span>
                            
                        </p>
                        <p class="help">Fecha de Entrega</p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded has-icons-left">
                            <input class="input" type="date" autocomplete="off" name="fecha_recibido">
                            <span class="icon is-small is-left">
                                <i class="fas fa-calendar"></i>
                            </span>
                            
                        </p>
                        <p class="help">Fecha Recibido</p>
                    </div>
                    <div class="field is-small">
                        <p class="control has-icons-left">
                            <input class="input" type="number" name="numero_armazones" autocomplete="off" placeholder="Número de armazones">
                            <span class="icon is-small is-left">
                                <i class="fas fa-hashtag"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- REGISTRO DE ARMAZONES -->
            <% for (let i = 0; i < 3; i++){%>
            <div class="field is-horizontal">
                <div class="field-body">
                    <p class="control is-expanded has-icons-left">
                        <input class="input" type="text" id="paciente[<%= i %>]" name="paciente_armazon" autocomplete="off" placeholder="Paciente">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </p>
                    <div class="select mx-3 is-fullwidth">
                        <select name="armazones[]">
                            <option>Armazón</option>
                            <% for (let armazon of armazones) { %>
                                <option value="<%= armazon.marca %> <%= armazon.modelo %> <%= armazon.material %> <%= armazon.color %>"> <%= armazon.marca %> <%= armazon.modelo %> <%= armazon.material %> <%= armazon.color %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="select mr-3">
                        <select name="tipos_lentes[]">
                            <option>Monofocal</option>
                            <option>Flaptop</option>
                            <option>Blended</option>
                            <option>Progresivos</option>
                        </select>
                    </div>
                    <div class="select">
                        <select name="tratamientos[]">
                            <option>Tratamientos</option>
                            <% for (let tratamiento of tratamientos) { %>
                            <option><%= tratamiento.tratamiento %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <% } %>
        
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="select mr-3">
                        <select name="metodo_pago">
                            <option>Forma de Pago</option>
                            <option>Efectivo</option>
                            <option>Cheque</option>
                            <option>Tarjeta de Crédito</option>
                            <option>Tarjeta de Débito</option>
                        </select>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="number" name="total_venta" autocomplete="off" placeholder="Total de Compra">
                            <span class="icon is-small is-left">
                                <i class="fas fa-money-bill"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="number" name="anticipo" autocomplete="off" placeholder="Este Pago">
                            <span class="icon is-small is-left">
                                <i class="fas fa-money-bill"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input" type="number" name="saldo" autocomplete="off" placeholder="Saldo">
                            <span class="icon is-small is-left">
                                <i class="fas fa-money-bill"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>

            <!-- Tabla de Graduaciones -->
            <table class="table is-bordered is-fullwidth">
                <tr>
                    <th>OJO</th>
                    <th>ESFERA</th>
                    <th>CILINDRO</th>
                    <th>EJE</th>
                    <th>ADD</th>
                    <th>DIP/AO</th>
                </tr>
                <% for (let i = 0; i < 3; i++){ %>
                <tr>
                    <th>
                        DERECHO
                        <p id="output[<%= i %>]"></p>
                    </th>
                    <td><input class="input" type="number" step="0.01" autocomplete="off" name="graduaciones[<%= i %>][esfera_d]" placeholder="Esfera OD"></td>
                    <td><input class="input" type="number" step="0.01" autocomplete="off" name="graduaciones[<%= i %>][cilindro_d]" placeholder="Cilindro OD"></td>
                    <td>
                        <div class="field has-addons">
                            <div class="control">
                              <input class="input" type="text" step="0.01" autocomplete="off" name="graduaciones[<%= i %>][eje_d]" placeholder="Eje OD">
                            </div>
                            <div class="control">
                              <span class="button is-static">º</span>
                            </div>
                        </div>
                    </td>
                    <td><input class="input" type="number" step="0.01" autocomplete="off" name="graduaciones[<%= i %>][add_d]" placeholder="Add OD"></td>
                    <td>
                        <div class="field has-addons">
                            <div class="control">
                              <input class="input" type="number" step="0.01" autocomplete="off" name="graduaciones[<%= i %>][dip_d]" placeholder="DIP OD">
                            </div>
                            <div class="control">
                              <span class="button is-static">mm</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>IZQUIERDO</th>
                    <td><input class="input" type="number" step="0.01" autocomplete="off" name="graduaciones[<%= i %>][esfera_i]" placeholder="Esfera OI"></td>
                    <td><input class="input" type="number" step="0.01" autocomplete="off" name="graduaciones[<%= i %>][cilindro_i]" placeholder="Cilindro OI"></td>
                    <td>
                        <div class="field has-addons">
                            <div class="control">
                              <input class="input" type="number" step="0.01" autocomplete="off" name="graduaciones[<%= i %>][eje_i]" placeholder="Eje OI">
                            </div>
                            <div class="control">
                              <span class="button is-static">º</span>
                            </div>
                        </div>
                    </td>
                    <td><input class="input" type="number" step="0.01" autocomplete="off" name="graduaciones[<%= i %>][add_i]" placeholder="Add OI"></td>
                    <td>
                        <div class="field has-addons">
                            <div class="control">
                              <input class="input" type="number" step="0.01" autocomplete="off" name="graduaciones[<%= i %>][dip_i]" placeholder="DIP OI">
                            </div>
                            <div class="control">
                              <span class="button is-static">mm</span>
                            </div>
                          </div>
                    </td>
                </tr>
                <% } %>
            </table>

            <textarea class="textarea" name="observaciones" placeholder="Observaciones"></textarea>
            <br>
            <input type="submit" class="button is-danger is-outlined" autocomplete="off" value="Guardar">
        </form>

        
        <br>

    </div>

    <script>
        // Autorrellenado de Nombre en Graduaciones
        for (let i = 0; i < 3; i++){
            const inputField = document.getElementById(`paciente[${i}]`);
            const outputField = document.getElementById(`output[${i}]`);

            inputField.addEventListener("input", function() {
                outputField.textContent = inputField.value;
            })

        }

        document.addEventListener("DOMContentLoaded", () => {
            // Select all graduation inputs inside the table
            const inputs = document.querySelectorAll("table input");

            inputs.forEach(input => {
                input.addEventListener("input", (event) => {
                    const row = event.target.closest("tr"); // Find the row of the edited input
                    const nameCell = row.querySelector("th"); // The name in the "OJO" column

                    if (nameCell) {
                        const name = nameCell.textContent.trim(); // Extract the name (e.g., "Maria")

                        // Find all rows with the same name and update their inputs
                        document.querySelectorAll("tr").forEach(otherRow => {
                            const otherNameCell = otherRow.querySelector("th");
                            
                            if (otherNameCell && otherNameCell.textContent.trim() === name) {
                                const otherInputs = otherRow.querySelectorAll("input");
                                const currentInputs = row.querySelectorAll("input");

                                // Copy values from the original row to the matching rows
                                otherInputs.forEach((otherInput, index) => {
                                    if (currentInputs[index]) {
                                        otherInput.value = currentInputs[index].value;
                                    }
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>
</body>